[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pandas = "*"
pydantic = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
serve = "uvicorn database_service.main:app --host 0.0.0.0 --port 8000"
